body {
    font-family: Arial, sans-serif;
    text-align: left;
}

table {
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0px;
    border-collapse: separate;
}

td {
    vertical-align: middle;
    padding: 2.5%;
}

h1, h2 {
    text-align: center;
}
/* Specific styles for the image container */
td.image-container  {
    width: 250px;
    /* height: 200px; */
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    td.image-container   {
        width: 50px;
        /* height: 100px; */
    }
}
.hover-image {
    width: 250px; /* or your desired size */
    height: auto; /* maintain aspect ratio */
    transition: all 0.1s ease; /* smooth transition */
}

.hover-image:hover {
    content: url('images/profile_hover.jpg'); /* image on hover */
}
/* Additional styling as needed */
