body {
    font-family: Arial, sans-serif;
    text-align: left;
    /* font-size: 12.5px; */
}

table {
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0px;
    border-collapse: separate;
}

td {
    vertical-align: middle;
    padding: 1.5%;
    /* font-size: 12.5px; */
}

h1, h2 {
    text-align: center;
}
/* Specific styles for the image container */

.compact-table {
    width: 100%; /* Adjust width as needed */
    border-collapse: collapse; /* Removes space between table cells */
}

.compact-table th, .compact-table td {
    padding: 1px; /* Minimal padding for table cells */
    text-align: left; /* Aligns text to the left, adjust as needed */
}


.compact-table tbody tr:nth

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    td.image-container   {
        width: 50px;
        /* height: 100px; */
        padding:20px
    }
}
.hover-image {
    width: 100%; /* or your desired size */
    height: auto; /* maintain aspect ratio */
    transition: all 0.1s ease; /* smooth transition */
}

.hover-image:hover {
    content: url('images/profile_hover.png'); /* image on hover */
.compact-table {
    width: 100%; /* Adjust width as needed */
    border-collapse: collapse; /* Removes space between table cells */
}

.compact-table th, .compact-table td {
    border: 1px solid #ddd; /* Optional: adds a light border */
    padding: 5px; /* Minimal padding for table cells */
    text-align: left; /* Aligns text to the left, adjust as needed */
}

.compact-table thead {
    background-color: #f2f2f2; /* Optional: background color for header */
}

.compact-table tbody tr:nth
* Additional styling as needed */
